@{
    Layout = "_AdminLayout";
}

<div class="card">
    <div class="card-header">
        <h5>Thêm Truyện</h5>
    </div>
    <div class="card-block table-border-style">
        <form role="form" class="form-horizontal" enctype="multipart/form-data" method="post"
              name="formAdmin" id="formAdmin">
            <div class="panel-body">

                <input type="hidden" value="">
                <div class="form-group py-2">
                    <label class="col-md-10 control-label"> Tên: </label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" value="">
                    </div>
                </div>

                <div class="form-group py-2">
                    <label class="col-md-10 control-label"> Số lượng: </label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" value="">
                    </div>
                </div>
                <div class="form-group py-2">
                    <label class="col-sm-12 control-label"> Ảnh Bìa: </label>
                    <div class="col-sm-12 py-1">
                        <span class="btn btn-success fileinput-button">
                            <i class="fas fa-cloud-upload-alt"></i>
                            <span>Upload Hình</span>
                            <input type="file" name="files[]" id="uploadimage">
                        </span>
                        <input type="hidden" name="image" id="image" value="">
                        <input type="hidden" name="link_image_temp" id="link_image_temp" value="">
                        <input type="hidden" name="del_image" id="del_image">
                        <button type="button" id="viewimage" data-toggle="modal" data-target="#animateModal"
                                class="btn buildupload hide">
                            <i class="fas fa-eye"></i> Xem ảnh
                        </button>

                    </div>

                </div>



                <div class="form-group  py-2">
                    <label class="col-sm-12 control-label">Tình Trạng: </label>
                    <div class="col-sm-12 py-1">
                        <select name="pending" id="pending" data-placeholder="Vui Lòng Chọn"
                                class="select-search select2-hidden-accessible" tabindex="-1"
                                data-select2-id="select2-data-pending" aria-hidden="true">
                            <option value=""></option>
                            <option selected="selected" value="0" data-select2-id="select2-data-5-c2j2">
                                Đang
                                Cập Nhật
                            </option>
                            <option value="1">
                                Còn hàng
                            </option>
                            <option value="2">
                                Hết hàng
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-12 control-label">Thông Tin: </label>
                    <div class="col-sm-12 py-1">
                        <textarea name="" id="" cols="130" rows="10"></textarea>
                    </div>
                </div>
                <div class="form-actions text-right py-3">
                    <button class="btn btn-success" type="submit"><i class="fas fa-save"></i> Lưu</button>
                    <button class="btn btn-danger" type="button"
                            onclick="window.location.href='/team/book/index'">
                        <i class="fas fa-sign-in-alt"></i> Thoát
                    </button>
                </div>
            </div>
        </form>
    </div>

</div>