@model HololiveWeb.API.Models.Event

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Img1" class="control-label"></label>
                <input asp-for="Img1" class="form-control" />
                <span asp-validation-for="Img1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Img2" class="control-label"></label>
                <input asp-for="Img2" class="form-control" />
                <span asp-validation-for="Img2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Img3" class="control-label"></label>
                <input asp-for="Img3" class="form-control" />
                <span asp-validation-for="Img3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preview1" class="control-label"></label>
                <input asp-for="Preview1" class="form-control" />
                <span asp-validation-for="Preview1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preview2" class="control-label"></label>
                <input asp-for="Preview2" class="form-control" />
                <span asp-validation-for="Preview2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preview3" class="control-label"></label>
                <input asp-for="Preview3" class="form-control" />
                <span asp-validation-for="Preview3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preview4" class="control-label"></label>
                <input asp-for="Preview4" class="form-control" />
                <span asp-validation-for="Preview4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preview5" class="control-label"></label>
                <input asp-for="Preview5" class="form-control" />
                <span asp-validation-for="Preview5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
