/* Header */
body[b-dnxp7e35a3] {
  background-size: contain;
  font-family: "M PLUS Rounded 1c", sans-serif !important;
}

.sbox[b-dnxp7e35a3] {
  position: relative;
}

.stext[b-dnxp7e35a3] {
  width: 230px;
  height: 45px;
  background: rgba(240, 248, 255, 0.82);
  border: 2px solid rgb(255, 255, 255);
  font-size: 10pt;
  float: left;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 35px;
}

.fa-search[b-dnxp7e35a3] {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 16px;
  margin-top: 16px;
  z-index: 1;
  color: #000000;
}

/*End Header */

/* Footer*/
.top-link[b-dnxp7e35a3] {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.top-link li[b-dnxp7e35a3] {
  display: inline-block;
  padding: 10px;

  border-radius: 5px;
  align-items: center;
}

.text-top[b-dnxp7e35a3] {
  vertical-align: text-top
}

.height1[b-dnxp7e35a3] {
  height: 500px;
}

.height4[b-dnxp7e35a3] {
  height: 100px;
}

.btn1[b-dnxp7e35a3] {
  background-color: aquamarine;
}

.height5[b-dnxp7e35a3] {
  height: 80px
}

.height3[b-dnxp7e35a3] {
  background: rgb(60, 194, 220);
  background: linear-gradient(146deg, rgba(60, 194, 220, 1) 0%, rgba(75, 157, 236, 1) 100%);
}

.top[b-dnxp7e35a3] {
  float: right;
}

/*End footer*/

/*Khoảng cách*/
.khoangcach2[b-dnxp7e35a3] {
  border-bottom: 2px dashed rgb(197, 197, 12);
  padding-top: 15px;
}
/*end khoảng cách*/