@{
    Layout = "_Layout";
    ViewData["Title"] = "Shop Page";
}
<!--Body-->
    <div class="khoangtrang"style="margin-top: 50px;"></div>
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col-3 justify-content-center">
                    <img src="../img/ProductList__header--title--en.png" alt="" style="height: auto; width: 100%;">
                </div>
                <div class="col"></div>
            </div>
        </div>

    <div class="container" style="margin-top: 30px;">
        <div class="row">
            <div class="col-md-2 ">
                <div class="sticky-top">
                    <p style="font-weight: bold; padding-left: 6%;">Filter by</p>
                    <hr style="margin-top: 0;">
                    <p class="d-inline-flex gap-1">
                        <a class="btn" data-bs-toggle="collapse" href="#collapseExample">
                            Recommended
                        </a>
                        <hr style="margin-top: 0; margin-bottom: 0;">
                    </p>

                    <div class="collapse" id="collapseExample" style="padding-left: 10%;">
                        <label class="" style="margin-bottom: 3%;"><input type="checkbox" name="" value=""><span
                                class=""></span> Ending Soon</label>
                        <label class="" style="margin-bottom: 3%;"><input type="checkbox" name="" value=""><span
                                class=""></span> Ending Soon</label>
                        <label class="" style="margin-bottom: 3%;"><input type="checkbox" name="" value=""><span
                                class=""></span> Ending Soon</label>
                        <label class="" style="margin-bottom: 3%;"><input type="checkbox" name="" value=""><span
                                class=""></span> Ending Soon</label>
                        <label class="" style="margin-bottom: 10%;"><input type="checkbox" name="" value=""><span
                                class=""></span> Ending Soon</label>

                    </div>

                    <p class="d-inline-flex gap-1">
                        <a class="btn" data-bs-toggle="collapse" href="#collapseExample1">
                            Group
                        </a>
                        <hr style="margin-top: 0; margin-bottom: 0;">
                    </p>

                    <div class="collapse" id="collapseExample1" style="padding-left: 10%;">
                        <label class="" style="margin-bottom: 3%;"><input type="checkbox" name="" value=""><span
                                class=""></span> Ending Soon</label>
                        <label class="" style="margin-bottom: 3%;"><input type="checkbox" name="" value=""><span
                                class=""></span> Ending Soon</label>
                        <label class="" style="margin-bottom: 3%;"><input type="checkbox" name="" value=""><span
                                class=""></span> Ending Soon</label>
                        <label class="" style="margin-bottom: 3%;"><input type="checkbox" name="" value=""><span
                                class=""></span> Ending Soon</label>
                        <label class="" style="margin-bottom: 10%;"><input type="checkbox" name="" value=""><span
                                class=""></span> Ending Soon</label>
                    </div>
                    <p class="d-inline-flex gap-1">
                        <a class="btn" data-bs-toggle="collapse" href="#collapseExample2">
                            Talents
                        </a>
                        <hr style="margin-top: 0; margin-bottom: 0;">
                    </p>

                    <div class="collapse" id="collapseExample2" style="padding-left: 10%;">
                        <label class="" style="margin-bottom: 3%;"><input type="checkbox" name="" value=""><span
                                class=""></span> Ending Soon</label>
                        <label class="" style="margin-bottom: 3%;"><input type="checkbox" name="" value=""><span
                                class=""></span> Ending Soon</label>
                        <label class="" style="margin-bottom: 3%;"><input type="checkbox" name="" value=""><span
                                class=""></span> Ending Soon</label>
                        <label class="" style="margin-bottom: 3%;"><input type="checkbox" name="" value=""><span
                                class=""></span> Ending Soon</label>
                        <label class="" style="margin-bottom: 10%;"><input type="checkbox" name="" value=""><span
                                class=""></span> Ending Soon</label>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col">
                        <div class="" id="">
                            <img src="../img/pxfuel (2).jpg" class="" alt="..." style="height: 200px;width:200px ;">
                        </div>
                    </div>
                    <div class="col">
                        <div class="" id="">
                            <img src="../img/pxfuel (2).jpg" class="" alt="..." style="height: 200px;width:200px ;">
                        </div>
                    </div>
                    <div class="col">
                        <div class="" id="">
                            <img src="../img/pxfuel (2).jpg" class="" alt="..." style="height: 200px;width:200px ;">
                        </div>
                    </div>
                    <div class="col">
                        <div class="" id="">
                            <img src="../img/pxfuel (2).jpg" class="" alt="..." style="height: 200px;width:200px ;">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="" id="">
                            <img src="../img/pxfuel (2).jpg" class="" alt="..." style="height: 200px;width:200px ;">
                        </div>
                    </div>
                    <div class="col">
                        <div class="" id="">
                            <img src="../img/pxfuel (2).jpg" class="" alt="..." style="height: 200px;width:200px ;">
                        </div>
                    </div>
                    <div class="col">
                        <div class="" id="">
                            <img src="../img/pxfuel (2).jpg" class="" alt="..." style="height: 200px;width:200px ;">
                        </div>
                    </div>
                    <div class="col">
                        <div class="" id="">
                            <img src="../img/pxfuel (2).jpg" class="" alt="..." style="height: 200px;width:200px ;">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="" id="">
                            <img src="../img/pxfuel (2).jpg" class="" alt="..." style="height: 200px;width:200px ;">
                        </div>
                    </div>
                    <div class="col">
                        <div class="" id="">
                            <img src="../img/pxfuel (2).jpg" class="" alt="..." style="height: 200px;width:200px ;">
                        </div>
                    </div>
                    <div class="col">
                        <div class="" id="">
                            <img src="../img/pxfuel (2).jpg" class="" alt="..." style="height: 200px;width:200px ;">
                        </div>
                    </div>
                    <div class="col">
                        <div class="" id="">
                            <img src="../img/pxfuel (2).jpg" class="" alt="..." style="height: 200px;width:200px ;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--End Body-->