@model Hololive.Web.Models.Products

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Products</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Catetory" class="control-label"></label>
                <input asp-for="Catetory" class="form-control" />
                <span asp-validation-for="Catetory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="img1" class="control-label"></label>
                <input asp-for="img1" class="form-control" />
                <span asp-validation-for="img1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="img2" class="control-label"></label>
                <input asp-for="img2" class="form-control" />
                <span asp-validation-for="img2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="img3" class="control-label"></label>
                <input asp-for="img3" class="form-control" />
                <span asp-validation-for="img3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preview1" class="control-label"></label>
                <input asp-for="Preview1" class="form-control" />
                <span asp-validation-for="Preview1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preview2" class="control-label"></label>
                <input asp-for="Preview2" class="form-control" />
                <span asp-validation-for="Preview2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preview3" class="control-label"></label>
                <input asp-for="Preview3" class="form-control" />
                <span asp-validation-for="Preview3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preview4" class="control-label"></label>
                <input asp-for="Preview4" class="form-control" />
                <span asp-validation-for="Preview4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preview5" class="control-label"></label>
                <input asp-for="Preview5" class="form-control" />
                <span asp-validation-for="Preview5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
